$container-width: 1160px;
$container-padding: 15px;

// Breakpoints
$small-viewport: 730px;
$medium-viewport: 1399px;
$xl-viewport: 1600px;

$footer-height: 100px;
$navbar-height: 60px;

//- forms elements
$input-height: 50px;
$input-padding: 16px 10px 15px;
