.container {
  max-width: 1160px;
  width: 100%;
  padding: 0 15px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  position: relative;

  @media screen and (max-width: $small-viewport) {
    padding: 0 20px;
  }
}



.container-fluid {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  //padding-right: 15px;
  //padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: $small-viewport) {
    padding: 0 0;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;

  &--reverse{
    flex-direction: row-reverse;
  }

  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;

  }
  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  //--------------l
  @media screen and (max-width:$medium-viewport) {
    .col-l-1 {
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-l-2 {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-l-3 {
      flex: 0 0 25%;
      max-width: 25%;

    }
    .col-l-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-l-5 {
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-l-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-l-7 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-l-8 {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-l-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-l-10 {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-l-11 {
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-l-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 950px) {
    .col-m-1 {
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-m-2 {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-m-3 {
      flex: 0 0 25%;
      max-width: 25%;

    }
    .col-m-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-m-5 {
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-m-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-m-7 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-m-8 {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-m-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-m-10 {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-m-11 {
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-m-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media screen and (max-width: $small-viewport) {
    .col-s-1 {
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-s-2 {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-s-3 {
      flex: 0 0 25%;
      max-width: 25%;

    }
    .col-s-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-s-5 {
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-s-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-s-7 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-s-8 {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-s-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-s-10 {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-s-11 {
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-s-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }



}
//sm, m, lg, xl
